*{
  margin: 0;
  padding: 0;
}

.app {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}
.top-section {
  max-width: 80%;
  margin: 0 auto;
  border: 2px solid black;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.top-section div {
  padding-left: 20px;
}

.bottom-section{
  max-width: 80%;
  margin: 0 auto;
}

.item {
 padding: 10px 0;
 border-bottom: 2px solid rgb(209, 209, 209);
}

.btn {
    width: 100px;
    height: 25px;
    margin: 0 auto;
   cursor: pointer;
   position: absolute;
   top: 25px;
   right: 50px;
}